body {
	background-image: url("../images/orange-trees.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#nope {
	color: red;
}

#start-btn {
	margin-top: 25px;
}

.game-wrapper {
	margin-top: 40px;
}

.right {
	height: 167px;
}

.top{
	height: 344px;
}

.top, .left, .right {
	opacity: 0.9;
}
